h1 {
  text-align: center;
}
body {
  background-color: #f5f6f7;
  padding: 0;
  margin: 0;
}
main {
  background-color: bisque;
  margin: 0 auto;
  height: 650px;
  width: 600px;
}
fieldset {
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
}
hr {
  border: 2px solid gray;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
label {
  display: inline-block;
  padding: 20px;
  align-content: center;

  margin-right: 10px;
}
button {
  text-align: center;
}
input {
  padding: 10px;
  width: 300px;
  border-color: aqua;
}
